<div class="padded-little"></div>
<div class="banner-forfaits" style="background-image:url('<%= asset_path("banner-forfaits.png") %> ')">
  <div class="banner-content">
    <% image_tag "logo.png" %>
    <h1>Nos Offres <span style="color: #7fded4;">FAST</span> and <span style="color: #ffd073;">CLEAN</span> <span style="color: #7fded4;">UP !</span></h1>
    </br>
    </br>
    <p><span style="color: #7fded4;">•</span> Site Vitrine <span style="color: #7fded4;">•</span> E-Commerce <span style="color: #7fded4;">•</span> Premium <span style="color: #7fded4;">•</span> Prototype&MVP</p>
  </div>
  <i class="fa fa-arrow-down"></i>
</div>
<div class="col-md-6" style="height: 50vh;background:linear-gradient(-225deg, rgb(250, 116, 119) 0%, rgb(213, 76, 84) 30%)">

</div>
<div class="col-md-6" style="height: 50vh;background:linear-gradient(225deg, rgb(78, 44, 49) 0%, rgb(70, 52, 58) 30%)">

</div>
<div class="col-md-6" style="height: 50vh;background:linear-gradient(30deg, rgb(15, 87, 110) 0%, rgb(50, 111, 131) 30%)">

</div>
<div class="col-md-6" style="height: 50vh;background:linear-gradient(-30deg, rgb(127, 222, 212) 0%, rgba(127, 222, 212, 0.65) 30%)">

</div>
