<div class="container">
    <hr>
        <div class="text-center center-block">
        <%= link_to "", "https://www.facebook.com/", class: "fa fa-facebook-square fa-3x social", :target => "_blank"  %>
        <%= link_to "", "https://www.facebook.com/", class: "fa fa-envelope-square fa-3x social", :target => "_blank"  %>
</div>
    <hr>
</div>
