/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
a {
  text-decoration:none;
}

a.fa {
  text-decoration: none;
}
// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-little {
  padding-top: 2em;
  padding-bottom: 2em;
}
// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.form-control {
  border-radius: 2px;
}

.btn {
    background: white;
    color: #7fded4;
    border-radius: 7px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.btn:hover {
  background-color:#7fded4;
  color: white;
  transition: 1s;
  border-color: white;
  border: 1px solid;
}
.btn-nav {
    background: white;
    color: #7fded4;
    border-radius: 7px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration:none;
}

.btn-nav:hover {
  text-decoration:none;
  color: #7fded4;
  transition: 1s;
  border-color: #7fded4;
  border: 1px solid;
}

.btn-forfaits {
    background: transparent;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration:none;
}

.btn-forfaits:hover {
  text-decoration:none;
  background: white;
  color: #d54c54;
  transition: 1s;
  border-color: #7fded4;
  border: 1px solid;
}

.btn-forfaits-2 {
    background: transparent;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration:none;
}

.btn-forfaits-2:hover {
  text-decoration:none;
  background: white;
  color: #46343a;
  transition: 1s;
  border-color: #46343a;
  border: 1px solid;
}

.btn-forfaits-3 {
    background: transparent;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration:none;
}

.btn-forfaits-3:hover {
  text-decoration:none;
  background: white;
  color: #326f83;
  transition: 1s;
  border-color: #326f83;
  border: 1px solid;
}

.btn-forfaits-4 {
    background: transparent;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration:none;
}

.btn-forfaits-4:hover {
  text-decoration:none;
  background: white;
  color: #aceae3;
  transition: 1s;
  border-color: #aceae3;
  border: 1px solid;
}

.btn-forfait {
      background: transparent;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration: none;
}
