.banner {
  color: white;
  height: 100vh;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;

}
.banner h1 {
    font-family: 'montserrat';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
}
.banner h3 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
}
.banner p {
  letter-spacing: 0.3em;
    font-size: 26px;
    margin-bottom: 20px;
  margin-bottom: 20px;
}

#new_info > div > label {
  display: none;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6%;
}

