.card img {
width: 100%;
opacity: 0.5;
transition: 1s;
}
.card img:hover {
width: 100%;
opacity: 1;
transition: 1s;
  text-decoration: none;
}
.card {
  box-shadow: 0 50px 60px 0 rgba(121, 184, 195, 0.3);
  cursor: pointer;
  text-decoration: none;
}



.card-date {
  padding: 3% 3% 3% 6%;
  margin-top: 10px;
}

.card-title {
  padding: 3% 3% 3% 6%;
  font-size: 30px;
  color: #30384C;
  font-weight: 900;
}

.card-description {
  padding: 2% 6% 6% 6%;
  font-size: 20px;
  color: rgba(119, 119, 119, 0.85);
}

.card p {
  color: #034e66;
  letter-spacing: 3px;
}

.card-title p {
font-family: 'montserrat';

}
